div{
  background-color:#dcf8c6;
  width: 300px;
  height: 280px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 16px;
  padding: 20px;
  
}

body{
  margin-left: 20px;
  background-color: #128c7e;
}
.msg{
  background-color: #128c7e;
  color: white;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 16px;
}
button{
 background-color: #25d366;
 padding: 2px 15px;
 margin: 4px;
border-radius: 5px solid brown;
}
h2{
  font-family: 'Courier New', Courier, monospace;
}